html{
    font-family: 'Nunito', sans-serif;
}
body{
background-color: #131618f8;
left: 0%;
right: 0%;
padding: 0%;
margin: 0% 0% 0% 0%;
}
.fondoinicial {
width: 100%;
height: 350px;
left: 0%;
top: 0%;
right: 0%;
padding: 0%;
background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
}
.inicial{
padding: 0;
width: 50%;
height: auto;
min-height: 240px;
left: 530px;
margin-top: auto;
margin-left: 530px;
}
.inicial p {
    left: 530px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    /* or 141% */
    color: #A5A3A5;
}
.Setup p ,.conceptos p ,.etiquetas p ,.DOM p, .Semantica p ,.atributos p ,.css p,.Modelodecaja p,.Modelodecaja pre ,.Modelodecaja li{

font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 24px;

color: #A5A3A5;
}
.inicial h2{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;
    
    color: #FFFFFF;
}
aside{
   position: absolute;
   top: 414px; 
   left: 120px;
   height: auto;
}
.variantes {
   top: 340px;
  width: 306px;
  height: 240px;
}
.variantes dt{    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.nemium-link a{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    color: #A5A3A5;
    text-decoration: none;
}

.nemium-link{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;

position: static;
width: 306px;
height: 40px;
left: 0px;
top: 40px;
border-radius: 4px;
/* Inside Auto Layout */
}
.nemium-link:hover{
    background: #000000;
    font-family: Roboto;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}
.nemium-link.active{
    background: #000000;
    font-family: Roboto;
    color: #ffffff;
}
.contenido{ /*caja contenido tamaño y display*/
width: 306px;
height: 304px;
left: 200px;
top: 758px;
}
.contenido dt{
    font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
}
.contenido details{
    cursor: pointer;
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
}
summary::before{
content:\27A1;
color:#26A0DA;
}
summary::after{
  content: \2B07;
  stop-color: yellow;
  transition-timing-function: 0.5s;
}
.contenido a{
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #A5A3A5;
    text-decoration: none;
}
.contenido li{
    cursor: pointer;
    font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #A5A3A5;
}
.contenido a:hover
{
  background-color: rgb(255, 255, 255);
  color-interpolation-filters: linearRGB;
  flood-color:rgb(56, 15, 95);
  color: rgb(39, 41, 44);
}

.Setup{/*caja setup tamaño , posicion y display*/
 width: 50%;
 height: auto;
 margin-left: 530px;
}
#S , .Modelodecaja h1{
    font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 55px;
color: #FFFFFF;
}
.Setup h5 , .conceptos h3, .Modelodecaja h2{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 32px,auto;
    line-height: 44px;
     color: #FFFFFF;
}
.logosSetup{

border-radius: 50%;
background-color: rgb(255, 255, 255);
width: 80px;
height: 80px;

}
.logosSetup img{
    padding: 10% 10% 10% 10%;
    width: 80%;
    height: 80%;
}
.Setup blockquote{
margin: 0%;
background-color:#3A3539;
min-width: 636px;
width: auto;
height: fit-content;
}
#imgDom{
    width: 100%;
    height: auto;
}
#palabras{
    padding: 24px 0px 24px 24px;
    color: #FFFFFF;
    font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
}
.conceptos {
width: 50%;
height: auto;
margin-left: 530px;
}
.conceptos blockquote{
    width: auto;
    height: max-content;
    background-color: #3A3539;
    color: white;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 0%;
    padding: 5%;
}
.css img{
margin: 0%;
width: 100%;
min-height: auto;
height: auto;
}
.Modelodecaja {
width: 50%;
height: auto;
margin-left: 530px;
}
#modelodecajaconimagen img{
width: 100%;
height: auto;
}
#modelodecajaconimagen p{
font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    /* identical to box height, or 141% */
    
    
    color: #FFFFFF;
}
#form{
    font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px;
color: #FFFFFF;
}#formulario input{ 
    width: 99%;
    height: 48px;
    border-color: white;
    left: 0px;
    top: 144px;
    background: #131618f8;
    border-radius: 8px;
   color: #FFFFFF;
   font-family: Nunito;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
}
#btnsubida{
    width: 100%;
    height: 50px;
    background: #157EFB;
border-radius: 8px;
color: white;
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 16px;
}
#btnsubida:hover{
    cursor: pointer;
    background-color: #15e2a5;
    color: #E01552;
    transition: 0,7ms;
}
footer{
 margin: 0%;
width: 100%;
height: 174px;
left: 0%;
right: 0%;
bottom: 0%;
background: #FFFFFF;
text-align: center;
padding-top:10px;
margin: 204px -2px -36px -2px;
border-radius: 3%;
}
footer p{
    margin-top:40px;
}
#logos{
display: inline-flexbox;
justify-content: center;
align-items: center;
}
#insta{
width: 18px;
height: auto;
}
#face{
    left: 20px;
    right: 20px;
    width: 18px;
    height: auto;
}
#twit{
    left: 20px;
    width: 18px;
    height: auto;
}